*{
    background-image: url(InShot_20241014_184628448.jpg);
    margin: 0px;
    padding: 0px;
}

a{text-decoration: none;
    background-image: none;
    color: white;

}

#navbar{
    height: 100px;
    width: auto;
    background-color:white;
    display: flex;
    flex-direction: row;
    /* border: solid red 1px; */
}
    #logo{
        height:100px;
        width: 250px;
        font-weight: bolder;
        color:white;
        font-size: 35px;
        margin-left: 50px;
        background-image: none;

    }

    #search{
        height:50px;
        width: 75px;
        color:white;
        margin-left: 850px;
        font-size: 20px;
        background-image: none;
        margin-top: 10px;
        /* border: solid red 1px; */

    }

    #publish{
        height: 50px;
        width: 150px;
        color: #B298DC;
        margin-left: 20px;
        font-size: 20px;
        background-image: none;
        margin-top: 10px;
        /* border: solid red 1px; */
    }

    